#InputText::placeholder {
    color: black;
  }

#InputText2::placeholder {
    color: black;
}  

#InputText3::placeholder {
    color: black;
}  

#InputText, #InputText2, #InputText3{
    font-family: "Montserrat", sans-serif;
    border: 0;
    width: 23rem;
    outline: 0;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 2px 0;
    background: transparent;
    font-weight: 540;
    border-bottom: 2.5px solid #C4C4C4;
    outline: 0;
}

#InputText2{
    width: 15rem;
}

#InputText3{
    width: 25rem;
}


